.toolbar {
  height: 64px;
  background-color: #117a8bad;
  top: 0;
  position: absolute;
  width: 100%;
  color: white;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1),0 6px 10px 0 rgba(0,0,0,0.1) !important;
}

.footer {
  height: 28px;
  background-color: #117a8bad;
  bottom: 0;
  position: absolute;
  width: 100%;
  color: white;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1),0 6px 10px 10px rgba(0,0,0,0.1) !important;
}
