<div class="mt-2">
  <div class="row justify-content-around align-items-baseline">
    <h5 class="card-title">{{ title }}</h5>
    <div class="dropdown show">
      <a class="btn btn-info btn-sm dropdown-toggle"
         style="min-width: 150px;"
         href="#"
         role="button"
         id="dropdownMenu"
         data-toggle="dropdown"
         aria-haspopup="true"
         aria-expanded="false">
        {{ button }}</a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
